<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container createPickup">
  <div class="row">
    <div class="panel panel-success">
    <div class="panel-heading main-heading">
      New Pickup
    </div>
    <div class="panel-body">
      <div class="col-md-6">
        <div class="form-group">
          <label>Location</label>
          <input class="form-control" type="text" ng-change="updateMap()" g-places-autocomplete force-selection="true" ng-model="createPickup.location" />
        </div>
        <map center="41,-87" zoom="3"></map>
        <form ng-submit="createPickup.submit(pickupForm)" name="pickupForm" id="pickupForm" sf-schema="createPickup.schema" sf-form="createPickup.form" sf-model="createPickup.model">
        </form>
        <button class="btn btn-primary" ng-click="createPickup.submit(pickupForm)">Create Pickup</button>
      </div>
      <div class="col-md-4">
        <dish-select selected="createPickup.model.dish"></dish-select>
        <h4>Availabilities</h4>
        <div class="row" ng-repeat="day in days">
          <div class="col-md-4">
            <div class="form-control">
              <input ng-model="createPickup.model.availabilities[day].able" type="checkbox" />
              <label>{{day}}</label>
            </div>
          </div>
          <div class="col-md-4">
            <select ng-model="createPickup.model.availabilities[day].start" class="form-control">
              <option value="{{time}}" ng-repeat="time in times" ng-selected="time == '09'">
                {{time}}:00
              </option>
            </select>
          </div>
          <div class="col-md-4">
            <select ng-model="createPickup.model.availabilities[day].end" class="form-control">
              <option value="{{time}}" ng-repeat="time in times" ng-selected="time == '18'">
                {{time}}:00
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <img src="assets/images/coles_ad.png" style="max-width: 100%;" />
      </div>
    </div>
</div>
