<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container createPickup">
  <div class="row">
    <div class="panel panel-success">
    <div class="panel-heading main-heading">
      New Pickup
    </div>
    <div class="panel-body">
      <div class="col-md-6">
        <div class="form-group">
          <label>Location</label>
          <input class="form-control" type="text" ng-change="updateMap()" g-places-autocomplete force-selection="true" ng-model="createPickup.location" />
        </div>
        <map center="41,-87" zoom="3"></map>
        <form ng-submit="createPickup.submit(pickupForm)" name="pickupForm" id="pickupForm" sf-schema="createPickup.schema" sf-form="createPickup.form" sf-model="createPickup.model">
        </form>
        <button class="btn btn-primary" ng-click="createPickup.submit(pickupForm)">Create Pickup</button>
      </div>
      <div class="col-md-4">
        <dish-select selected="createPickup.model.dish"></dish-select>
      </div>
      <div class="col-md-2">
        ads?
      </div>
    </div>
</div>
