.pickup .ratings {
  position: absolute;
  top: -10px;
  bottom: auto;
  right: -10px;
}

.pickup .panel-media {
  padding-left: 0;
  padding-right: 0;
}
.createPickup {
}
.overlay .avatar {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 60px;
  height: 60px;
}

.comment {
  border-bottom: 1px solid $gray-light;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.pickup-buttons {
  float: right;
  width: 120px;
  padding-top: 100px;
}

.request-list-item .avatar img {
  margin-top: -4px;
  width: 28px;
  height: 28px;
  float: left;
}
.request-list-item .fa.pull-right {
  margin-top: 5px;
}

.status {
  margin-top: 8px;
}

.rating-input:hover .fa-star {
  color: #F1F12C;
}

.rating-row {
  margin-top: 8px;
}
