.pickup .ratings {
  position: absolute;
  top: -10px;
  bottom: auto;
  right: -10px;
}

.pickup .panel-media {
  padding-left: 0;
  padding-right: 0;
}
.createPickup {
}
.overlay .avatar {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 60px;
  height: 60px;
}

.comment {
  border-bottom: 1px solid $gray-light;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
