<div class="container pickup">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="col-md-4 panel-media">
          <img class="col-md-12" ng-src="{{item.dish.images[0] || 'assets/images/pasta-placeholder.png'}}" />
          <div class="overlay">
            <span class="dish-name">{{pickup.dish.name}}</span>
            <div class="avatar">
              <img ng-src="{{user.avatar}}" />
            </div>
          </div>
        </div>
        <div class="panel-body row clearfix">
          <div class="col-md-8 col-md-offset-4" style="position: absolute; top: 15px;">
            <div class="tags">
               <span class="label label-default" ng-repeat="tag in pickup.tags">{{tag}}</span>
            </div>
            <div class="pickup-buttons" ng-show="isLoggedIn && !requestOpen && !isChef">
              <a href="#" ng-click="inquire()" class="btn btn-block btn-warning">Inquire</a>
              <a href="#" ng-click="commitToBuy()" class="btn btn-block btn-info">Commit to Pay</a>
            </div>
          </div>
          <div class="col-md-12" style="margin-top: 15px;">
            <div class="row">
              <div class="col-md-8">
                <p>{{pickup.dish.description}}</p>
                <h5 ng-show="pickup.dish.ingredients.length">Ingredients</h5>
                <ul>
                  <li ng-repeat="ingredient in pickup.dish.ingredients">{{ingredient}}
                </ul>
                <div class="text-muted text-center" ng-hide="isLoggedIn">
                  <a href="/login">Login</a> to inquire about or purchase this dish.
                </div>
                <ui-view></ui-view>
              </div>
              <div class="col-md-4">
                <h5>Location</h5>
                <map></map>
                <h5>Available Times</h5>
                <div ng-repeat="(day, availability) in pickup.availabilities" ng-if="availability.able">
                  <strong style="width: 40px; display: inline-block;">{{day}}:</strong> <span style="color:green;">{{availability.start}}:00 - {{availability.end}}:00</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ratings">
          <a href="#" class="btn btn-success rating">
            <rating ng-model="pickup.dish.rating" readonly="true" state-on="'fa fa-star'" state-off="'fa fa-star-o'"></rating>
          </a>
          <a href="#" class="btn btn-warning rating">
            <rating ng-model="user.rating" readonly="true" state-on="'fa fa-star'" state-off="'fa fa-star-o'"></rating>
          </a>
          <a href="#" class="btn btn-danger">$ {{pickup.price}}</i></a>
        </div>
      </div>
    </div>
  </div>
</div>
