<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container pickup">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="col-md-4 panel-media">
          <img class="col-md-12" ng-src="{{pickup.dish.images[0]}}" />
          <div class="overlay">
            <span class="dish-name">{{pickup.dish.name}}</span>
            <div class="avatar">
              <img ng-src="{{user.avatar}}" />
            </div>
          </div>
        </div>
        <div class="panel-body row clearfix">
          <div class="col-md-8 col-md-offset-4" style="position: absolute; top: 15px;">
            <div class="tags">
               <span class="label label-default" ng-repeat="tag in pickup.tags">{{tag}}</span>
            </div>
            <div class="pickup-buttons" ng-show="isLoggedIn">
              <a href="#" ng-show="!isChef && !request" ng-click="inquire()" class="btn btn-block btn-warning">Inquire</a>
              <a href="#" ng-show="!isChef && !request || !request.status" ng-click="commitToBuy()" class="btn btn-block btn-info">Commit to Pay</a>
            </div>
          </div>
          <div class="col-md-12" style="margin-top: 15px;">
            <div class="row">
              <div class="col-md-8">
                <p>{{pickup.dish.description}}</p>
                <h5 ng-show="pickup.dish.ingredients.length">Ingredients</h5>
                <ul>
                  <li ng-repeat="ingredient in pickup.dish.ingredients">{{ingredient}}
                </ul>
                <div class="text-muted text-center" ng-hide="isLoggedIn">
                  <a href="/login">Login</a> to inquire about or purchase this dish.
                </div>
                <div ng-show="showComments">
                  <h5>Comments</h3>
                  <div class="col-md-12">
                    <div ng-repeat="comment in request.comments" class="comment row">
                      <div class="col-md-2">
                        <user-avatar user="{ id: comment.user }"></user-avatar>
                      </div>
                      <div class="col-md-10">
                        <p>{{comment.content}}</p>
                      </div>
                    </div>
                  </div>
                  <textarea autofocus ng-model="comment" class="form-control" placeholder="Ask a question to the Chef"></textarea>
                  <div class="text-right" style="margin-top: 5px">
                    <a href="#" ng-show="!isChef && request.status == 'enquiry'" ng-click="commitToBuy()" class="btn btn-info">Commit to Pay</a>
                    <a href="#" ng-show="!isChef && request.status == 'payment_committed'" ng-click="cancel()" class="btn btn-danger">Cancel</a>
                    <a href="#" ng-click="submitComment()" class="btn btn-default">Send message</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <h5>Available Times</h5>
                <div ng-repeat="(day, availability) in pickup.availabilities" ng-if="availability.able">
                  <strong style="width: 40px; display: inline-block;">{{day}}:</strong> <span style="color:green;">{{availability.start}}:00 - {{availability.end}}:00</span>
                </div>
                <h5>Location</h5>
                <p>something here</p>
              </div>
            </div>
          </div>
        </div>
        <div class="ratings">
          <a href="#" class="btn btn-success"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i></a><br />
          <a href="#" class="btn btn-warning"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i></a><br />
          <a href="#" class="btn btn-danger">$ {{pickup.price}}</i></a>
        </div>
      </div>
    </div>
  </div>
</div>
