<div class="modal-header">
  <button ng-if="modal.dismissable" type="button" ng-click="$dismiss()" class="close">&times;</button>
  <h4 class="modal-title">Create Dish</h4>
</div>
<div class="modal-body">
  <form ng-submit="createDish.submit(dishForm)" name="dishForm" id="dishForm" sf-schema="createDish.schema" sf-form="createDish.form" sf-model="createDish.model">
  </form>
<!--   <form ng-submit="addIngredient.submit(ingredientForm)" name="ingredientForm" id="ingredientForm" sf-schema="addIngredient.schema" sf-form="addIngredient.form" sf-model="addIngredient.model">
  </form> -->
  <form ng-submit="addIngredient.submit(ingredientForm)" name="ingredientForm" id="ingredientForm">
    <div class="form-group">
      <label>Add Ingredient</label>
      <div class="input-group">
        <input ng-model="addIngredient.ingredient" type="text" name="ingredient" class="form-control input-lg" />
        <div class="input-group-addon">
          <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i></button>
        </div>
      </div>
    </div>
  </form>
  <ul class="dishIngredients">
    <li ng-repeat="ingredient in createDish.model.ingredients">
        {{ingredient}} <i class="fa fa-remove" ng-click="removeIngredient(ingredient)"></i>
    </li>
  </ul>
  <image-upload images="createDish.model.images"></image-upload>
</div>
<div class="modal-footer">
  <button class="btn btn-success" ng-click="createDish.submit(dishForm)">Create</button>
  <button class="btn btn-warning" ng-click="$close()">Cancel</button>
</div>