.dishIngredients {
  font-size: 16px;
  padding: 0px;
  .fa-remove {
    cursor: pointer;
    color: red;
  }
  li {
    list-style: none;
  }
}
.addIngredient {

}
.colesAdd {
  margin: 25px auto;
  display: block;
  width: 100%;
}

.createPickup {
  .selectDishes {
    max-height: 390px;
    overflow: auto;
    padding-right: 10px;
  }
}

.selectDish {
  cursor: pointer;
  .fa-remove {
    font-size: 16px;
    color: red;
  }
  ul {
    padding: 0px;
  }
  img {
    max-width: 100%;
  }
  li {
    cursor: pointer;
    list-style: none;
    i {
      margin-right: 5px;
    }
  }
}