.avatar img {
  border-radius: 100%;
  width: 100%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.user-name {
  font-weight: bold;
}

user-info {
  text-align: center;
}

user-info .caption {
  font-weight: 100;
}

.rating {
  text-align: center;
  
  i {
    padding-left: 2px;
    padding-right: 2px;
  }
}
